.box {
	Border: 1px solid black;
	min-height: 100px;
}

p {
	color: green;
}

#box-1 {
	background-color: black;
	color: white;
}

p.milky {
	color: blue;
}

/*
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: transparent;
  color: #000;
}