:root {
  --primary-color: #73953e;
  --secondary-color: #b2964f;
}

@font-face{
  font-family:"MrEaves";
  src:url("MrEavesSmallCapsBold.woff") format("woff");
}

@font-face{
  font-family:"ScalySansCaps";
  src:url("ScalySansCaps.woff") format("woff");
}

@font-face{
  font-family:"ScalySans";
  src:url("ScalySans.woff") format("woff");
}

body {
  overflow: overlay;
  margin: auto;
}

body, input, select, textarea {
  color: #000000;
  font-family:"ScalySans";
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
}

a {
  /* -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; */
  border-bottom: dotted 1px var(--primary-color);
  text-decoration: none; 
  color: inherit;
  cursor: pointer;
}

a:hover {
  /* -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; */
  font-weight: bold;
  color: var(--primary-color);
  /* -moz-transition: text-shadow 0.2s ease-in-out;
  -webkit-transition: text-shadow 0.2s ease-in-out;
  -ms-transition: text-shadow 0.2s ease-in-out;
  transition: text-shadow 0.2s ease-in-out; */
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
}

p {margin: 0 0 1em 0; }

h1 {
  font-family: "MrEaves", serif;
  font-size: 5em;
  text-align: center;
  margin: 0 0 0.5em 0;
  line-height: 1.3;
  /* filter: url(#Bevel1); */
  color: var(--secondary-color);
  -webkit-text-stroke: 1px black;
}

h2 {
  font-family: "MrEaves", serif;
  font-size: 2em;
  margin-bottom: 0.3em;}


h3, h4, h5, h6{
  font-family: "ScalySansCaps", serif;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 0.2em;}

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.9em; }



#wrapper{
  background: url("ranger/tab_stat_rail.png"), url("/images/Parchment.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center right, top center;
  background-size: 25px 120%, 100% auto;
  display: grid;
  grid-template-columns: 320px 6fr 3fr;
  position: relative;
  z-index: 0;
}

#sidebar-handle {
  display: none;
  position: relative;
  top: -70px;
  left: 23px;
}



#sidebar {
  position: sticky;
  width: 320px;
  top: 0;
  height: 100vh;
  overflow-y: overlay;
  overflow-x: hidden;
  direction: rtl;
}
    
#sidebar .inner {
  min-height: 100%;
  direction: ltr;
  margin-bottom: -20px;
  background-image: url("ranger/Large Border.png"), url("ranger/Large Border.png"), url("ranger/Wood Rectangle.png");
  background-position: top left, top right, top center;
  background-size: 25px auto, 25px auto, 100% auto;
  background-repeat: repeat-y, repeat-y, repeat;
}



@media screen and (max-width: 1280px) {
  #wrapper {
    grid-template-columns: 320px 1fr;
  }
}

@media screen and (max-width: 880px) {
  #wrapper {
    grid-template-columns: 1fr;
  }
  #sidebar-handle {
    display: block !important;
  }
  #sidebar {
    display: block;
    left: -320px;
    padding-right: 90px;
    position: fixed !important;
    overflow-y: hidden;
  }

  #sidebar .inner{
    padding-top: 80px;
  }

  #search{
    margin-top: -80px;
  }
}

#menu {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  color: #fffff0;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
    
#menu ul{
  padding: 0px;
  list-style-type: none; 
}

#menu li{
  list-style-type: none; 
}

#menu li.opener{
  text-align: left;
}

#menu h1 {
  font-size: 2.75em;
  margin: 0 0 0 0;
}

#menu h2{
  margin: 0;
}

#menu h2 a{
  font-family: "MrEaves", serif;
}

#menu a {
  font-size: 1em;
  border-bottom: none;
  font-family: "ScalySansCaps", serif;
}

#menu a:hover {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: var(--primary-color);
}

#menu .opener ul{
  display: none;
  padding-left: 1em;
}

.opener i{
  font-size: 0.8em;
  transform: rotate(0deg);
  transition: transform 0.25s linear;

}

.opener.opened i{
  transform: rotate(90deg);
  transition: transform 0.25s linear;
}

.opener i:hover{
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  color: var(--primary-color);
}

.opener li{
  font-size: 1.25em;
}




.item-card h1{
  font-size: 2em;
  /* border-bottom: var(--secondary-color) 1px solid; */
  text-align: left;
  margin: 0 0 0.5em 0;
  line-height: 1.3;
  /* filter: url(#Bevel1); */
  color: white;
  -webkit-text-stroke: unset;
}

.inline-icon {
  width:1.2em;
  height:1.2em;
  margin-bottom:-0.3em;
  border: 0px
}

.item-tags {
  font-weight: bold;
  text-transform:capitalize;
}


/* .opener:before {
  -moz-transition: color 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;

  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-size: 1.5em;
  position: absolute;
  left: 20px;
}
.opener:before:hover {
  color: var(--secondary-color);
} */


#main{
  margin: 5vw;
  overflow-x: auto;
}

#main h2{
  border-bottom: var(--secondary-color) 2px solid
}




















table{
  width: 100%;
  text-align: center;
}
thead tr:nth-child(odd) {background: #CCC}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}























/* 

p img, blockquote img, table img{
  width:1.5em;
  height:1.5em;
  margin-bottom: -0.4em;
}

h3 img{
  width:1.7em;
  height:1.7em;
  margin-bottom: -0.5em;
}
.keyword{
  font-weight: bold;
}


.ui-tooltip{
  width: 400px;}
@media screen and (max-width: 600px) {
  .ui-tooltip{
    width: 70%;}
  }

.top-scroll{
  width: 100%;
  margin-bottom:-1em;
}

#sidebar-top-scroll{
  width: 125%;
  height: 285px;
  padding-left:25px;
  padding-top:5px;
  margin-bottom: -220px;
}

@media screen and (max-width: 1680px) {
  #sidebar-top-scroll {
    height: 215px; 
    margin-bottom: -150px;} }



#sidebar-bottom-scroll{
  width: 115%;
  height: 40px;
}

.bottom-scroll{
  width: 100%;
  margin: -1em 0px 1em 0px;
}
.tooltip-body{
  background: url("/images/scroll/mid-scroll-wide.png") left top repeat;
  background-size: 100% auto;
  margin: 0px;
  padding: 1em 3em 1em 1em;
  border:0px;
  line-height: normal;
}

.ui-tooltip-content{
  padding: 0px;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  }





  .tooltip-icon {
    width: 38px;
    border-radius: 100%;
    margin-left: -5px;
    margin-top: -4px;}


 */












.tooltipster-box {
  max-height: 50vh;
}

.tooltipster-base h1 {
  font-size: 2.5em;
  margin: 0 0 0 0;
}

.tooltipster-base table {
  color: black;
}























#search{
  width: 80%;
  margin-left: 10%;
  padding-top: 2em;
}


    .gsc-search-button-v2 {
      /* display: none; */
       padding: 0px 0px !important;
       border: 0px !important;
       margin-top: 0px !important;
       /* visibility: hidden !important; */
        /* width: 0px !important; */

    }


    /* .gsc-search-button {
      display: none;
    } */

    /* .gsc-search-button-v2 svg{
      visibility: hidden;
   } */

    .gsc-search-box-tools table td {
      padding-bottom: 0px !important;
      padding-left: 0px !important;
      padding-top: 0px !important;
      padding-right: 0px !important;
    }

  .gsc-control-cse {
     padding: 0em !important; 
     border: 0px !important;
}

.gsc-search-box {
  margin-bottom: 0em !important;
}

/* .gsc-search-button{
  padding: 0px 0px !important;
  border: 0px !important;
  margin-top: 0px !important;
  visibility: hidden !important;
   width: 0px !important;

} */

#gs_id50 {
  margin-bottom: 0px !important;
}
/* 
#gs_tti50 input{
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>") !important;
} */


/* ::-webkit-input-placeholder::before {
  color:#666;
  content:"Line 1\A Line 2\A Line 3\A";
} */














/* 
.MsoNormal{
  padding: 0px;
  margin:0px;
  border: 0px;
}

blockquote {
  background: url("/images/scroll/top-border.png") left top no-repeat, url("/images/scroll/bottom-border.png") left bottom no-repeat, url("/images/Parchment.jpg") top left round;
  background-size: 300px, 300px, 100%;
  max-width: 50%;
  min-width: 25em;
  min-height: 350px;}

  blockquote h2, blockquote h3, blockquote div {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px; }

blockquote p {
      padding-left: 1.25em;}

blockquote p:last-child {
      padding-bottom: 3em;}

blockquote .quoteimg {
  width: 38px;
  height: 38px;
  margin-bottom: 0em;
    border-radius: 100%;
    margin-left: -5px;
    margin-top: 18px;}

blockquote {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em; }

@media screen and (max-width: 650px) {
    blockquote {
      max-width: 100%;} } */

















/* .dropcap {
  float: left;
  font-family:"MrEaves";
  font-size: 4em;
  line-height: 0.8em;
  padding-right: 0.1em;
}
section p:not(:first-of-type) {
  text-indent: 2.5em;
}
 */


















/* 

#PoiseSlider .ui-slider-handle{
  color: white;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
  font-weight: bold;
  background-image: url("/images/icons/blankpoise.png");
  background-size: cover;
}
.ui-slider-handle{
  width: 24px !important;
  height: 24px !important;
  line-height: 26px;
  font-size: large !important;
  font-family:"MrEaves";
  text-align: center !important;

  background-color: coral;

}


.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 3px;
}


.ui-widget {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #dddddd;
	background: #e9e9e9;
	color: #333333;
	font-weight: bold;
}
.ui-widget-header a {
	color: #333333;
}

.ui-state-disabled {
	cursor: default !important;
	pointer-events: none;
}

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}

 */


























::-webkit-scrollbar {
  width: 25px;
}

/* ::-webkit-scrollbar-track {
  background: url("ranger/tab_stat_rail.png");
  background-repeat: no-repeat;
  background-size: 25px 100%;
} */

::-webkit-scrollbar-thumb {
  background: transparent;
  background-image: url("ranger/ScrollbarSliderTop.png"), url("ranger/ScrollbarSliderBot.png"), url("ranger/ScrollbarSliderMid.png");
  background-size: 80%, 80%, 80% 100%;
  background-position: top, bottom, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
  background-image:radial-gradient(closest-side,  #9fd43b 0%, rgba(255, 255, 255, 0) ), url("ranger/ScrollbarSliderTop.png"), url("ranger/ScrollbarSliderBot.png"), url("ranger/ScrollbarSliderMid.png");
  background-size: 100%, 80%, 80%, 80% 100%;
  background-position: center, top, bottom, center;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}

::-webkit-scrollbar-thumb:active {
  background: transparent;
  background-image:radial-gradient(closest-side,  #28350f 0%, rgba(255, 255, 255, 0) ), url("ranger/ScrollbarSliderTop.png"), url("ranger/ScrollbarSliderBot.png"), url("ranger/ScrollbarSliderMid.png");
  background-size: 100%, 80%, 80%, 80% 100%;
  background-position: center, top, bottom, center;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}

::-webkit-scrollbar-button{
  width: 25px;
  height: 25px;
  background-color: transparent;
}
::-webkit-scrollbar-button:vertical:decrement {
  background: url("ranger/scrollbar-sprite.png") 0px -26px;
}

::-webkit-scrollbar-button:vertical:decrement:hover {
  background: url("ranger/scrollbar-sprite.png") 0px 0px;
}

::-webkit-scrollbar-button:vertical:decrement:active {
  background: url("ranger/scrollbar-sprite.png") 0px -52px;
}

::-webkit-scrollbar-button:vertical:increment {
  background: url("ranger/scrollbar-sprite.png") -25px -26px;
}

::-webkit-scrollbar-button:vertical:increment:hover {
  background: url("ranger/scrollbar-sprite.png") -25px 0px;
}

::-webkit-scrollbar-button:vertical:increment:active {
  background: url("ranger/scrollbar-sprite.png") -25px -52px;
}